// Set html tag font family and line height
html {
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
}

// Improve consistency of default fonts in all browsers (https://github.com/sindresorhus/modern-normalize/issues/3)
body {
  font-family: $font-family-sans-serif;
}

// Set app height
#app {
  height: 100vh;
}

.grid-cols-1 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;
}

.grid-top-margin {
  margin-top: 1rem;
}

@media (min-width: 640px) {
  .grid-sm-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid-lg-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
